In [1]:
%LOAD postgresql host=localhost

In [ ]:
CREATE DATABASE objects_db;

In [30]:
DROP TABLE IF EXISTS objects;
DROP TABLE IF EXISTS colors;
DROP TABLE IF EXISTS functions;

In [31]:
CREATE TABLE objects (
    id SERIAL PRIMARY KEY,
    name TEXT,
    color_id INTEGER,
    function_id INTEGER
);

In [32]:
CREATE TABLE colors (
    id SERIAL PRIMARY KEY,
    name TEXT
);

In [33]:
CREATE TABLE functions (
    id SERIAL PRIMARY KEY,
    name TEXT
);

In [34]:
INSERT INTO colors(name) VALUES ('red');
INSERT INTO colors(name) VALUES ('green');
INSERT INTO functions(name) VALUES ('writes');
INSERT INTO functions(name) VALUES ('holds');

In [35]:
SELECT * FROM colors;

+----+-------+
| id | name  |
+----+-------+
| 1  | red   |
+----+-------+
| 2  | green |
+----+-------+
2 rows in set (0.01 sec)

In [36]:
SELECT * FROM functions;

+----+--------+
| id | name   |
+----+--------+
| 1  | writes |
+----+--------+
| 2  | holds  |
+----+--------+
2 rows in set (0.00 sec)

In [37]:
INSERT INTO objects(name, color_id, function_id) 
  VALUES ('highlighter', 2, 1),
         ('pen', 1, 1),
         ('mug', 1, 2),
         ('vase', 2, 2);

In [29]:
SELECT * FROM objects;

+----+-------------+----------+-------------+
| id | name        | color_id | function_id |
+----+-------------+----------+-------------+
| 1  | highlighter | 2        | 1           |
+----+-------------+----------+-------------+
| 2  | highlighter | 2        | 1           |
+----+-------------+----------+-------------+
| 3  | pen         | 1        | 1           |
+----+-------------+----------+-------------+
| 4  | mug         | 1        | 2           |
+----+-------------+----------+-------------+
| 5  | vase        | 2        | 2           |
+----+-------------+----------+-------------+
5 rows in set (0.00 sec)