In [1]:
import psycopg2

conn = psycopg2.connect(host='localhost')

# will raise ActiveSqlTransaction exception otherwise
conn.set_isolation_level( psycopg2.extensions.ISOLATION_LEVEL_AUTOCOMMIT )

cursor = conn.cursor()

cursor.execute("CREATE DATABASE class_objects2")

conn.close()

In [2]:
with psycopg2.connect(host='localhost', dbname="class_objects2") as conn:
    with conn.cursor() as cursor:
        with open('create_objects.sql', 'r') as sqlfile:
            cursor.execute(sqlfile.read())

In [3]:
%env DATABASE_URL=postgresql://localhost/class_objects2
%reload_ext sql

env: DATABASE_URL=postgresql://localhost/class_objects2

In [4]:
%%sql
SELECT *
FROM objects

4 rows affected.

[(1, 'highlighter', 2, 1),
 (2, 'pen', 1, 1),
 (3, 'mug', 1, 2),
 (4, 'vase', 2, 2)]

In [7]:
%%sql
SELECT colors.name
FROM objects
  JOIN colors 
    ON objects.color_id = colors.id
WHERE objects.name = 'mug'

 * postgresql://localhost/class_objects2
1 rows affected.

[('red',)]